.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color:#fff;
  background-color:#e53c37;
  border-color:#e4312c;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color:#fff;
  background-color:#e53c37;
  border-color:#e4312c;
}

.wrapper {
  text-align:center;
}

