// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
//SimpleMDE
@import "~simplemde/dist/simplemde.min.css";


.nav > li > a:hover{
  background-color: #f062d4 !important;

}

span,.fa {
  color: #f062d4 !important;
}

.editor-toolbar,.glyphicon{
  background-color: #030202 !important;
  color: #f062d4 !important;
}

.comment {
  background-color: rgba(22, 21, 21, 0.85) !important;
}

td,.CodeMirror,.form-control,.editor-preview,.editor-preview-side {
  background-color: #2d2d2d !important;
  color: #f062d4 !important;
  border: 1px solid #1dadac;
}

::placeholder {
  background-color: #2d2d2d !important;
  color: #f062d4 !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.title {
  font-size: 400%;
  font-family: "Raleway", sans-serif;

}

.jumbotron {
  background-color: #272727;
  border: 3px solid #f062d4;
  margin: auto;
}

li {
  margin:auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2d2d2d inset;
  -webkit-text-fill-color: #f062d4;
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #f062d4;
}
